header .nav li a {
    color: #07712c;
}

.tt-banner {
    position: relative;
    min-height: 200px;
    padding: 30px 0;
    color: #a5e6ab;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    background-color: #5dd46d;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#07712c), to(#5dd46d));
    background-image: -webkit-linear-gradient(top, #07712c 0, #5dd46d 100%);
    background-image: -o-linear-gradient(top, #07712c 0, #5dd46d 100%);
    background-image: linear-gradient(to bottom, #07712c 0, #5dd46d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#07712c', endColorstr='#5dd46d', GradientType=0);
    background-repeat: repeat-x;
}

.tt-banner .line {
    line-height: 1.4;
    font-weight: 300;
    margin: 0 auto 30px;
}

.tt-banner .btn {
    padding: 15px 30px;
    font-size: 20px;
}

.tt-banner .describe {
    font-size: 30px;
    width: 80%;
    text-align: center;
}

.tt-banner .bookmark a {
    z-index: 2;
    position: relative;
    color: #fff;
    background-color: transparent;
    border-color: #c2e3bf;
}

.tt-banner .bookmark a:hover {
    color: #07712c;
    text-shadow: none;
    background-color: #fff;
    border-color: #fff;
}

.tt-banner:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    background: #fff;
    opacity: 0.2;
    transform: scale(0, 1);
    transition: transform 0.5s ease;
}

.tt-banner:hover:after {
    transform: scale(1);
}

.tt-menu {
    color: #a5e6ab;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    background-color: #5dd46d;
    color: #fff;
}

.tt-menu .navbar-brand {
    font-weight: 500;
    color: #fff;
    font-size: 30px;
    margin-left: -15px;
}

.tt-menu .navbar-nav > li > a,
.tt-menu .navbar-nav > li > a:hover,
.tt-menu .navbar-nav > .active > a:hover {
    color: #fff;
    background: #5dd46d;
}

.tt-menu .navbar-nav > .active > a, .tt-menu .navbar-nav > li > a:hover, .tt-menu .navbar-nav > .active > a:hover {
    background: #4ac94a;
}

.tt-lg {
    height: 144px;
    font-size: 108px;
    line-height: 140px;
}

.tt-icon {
    display: block;
    font-weight: 500;
    color: #fff;
    text-align: center;
    cursor: default;
    border-radius: 15%;
}

.tt-back{
    position:fixed;
    top:10px;
    left:100px;
    width:20px;
    height: 20px;
}
.tt-back:before,.tt-back:after{
    display: block;
    content:" ";
    width:20px;
    height: 9px;
    background: #666;
    transform: rotate(-45deg);
}
.tt-back:after{
    transform: rotate(45deg);
}

.u-loading {
    position: relative;
    display: inline-block;
}

.u-loading .dot {
    position: absolute;
    opacity: 0;
    width: 64px;
    height: 64px;
    transform: rotate(225deg);
    animation-name: loading;
    animation-iteration-count: infinite;
    animation-duration: 5.28s;
}

.u-loading .dot:after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #000;
}

.u-loading .dot:nth-child(2) {
    animation-delay: .23s;
}

.u-loading .dot:nth-child(3) {
    animation-delay: .46s;
}

.u-loading .dot:nth-child(4) {
    animation-delay: .69s;
}

.u-loading .dot:nth-child(5) {
    animation-delay: .92s;
}

@keyframes loading {
    0% {
        transform: rotate(225deg);
        opacity: 1;
        animation-timing-function: cubic-bezier(0, 0, 0.58, 1.0);
    }
    8% {
        transform: rotate(345deg);
        animation-timing-function: cubic-bezier(0.0, 0.0, 1.0, 1.0);
    }
    30% {
        transform: rotate(455deg);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0);
    }
    40% {
        transform: rotate(690deg);
        animation-timing-function: cubic-bezier(0.0, 0.0, 1.0, 1.0);
    }
    60% {
        transform: rotate(815deg);
        opacity: 1;
        animation-timing-function: cubic-bezier(0, 0, 0.58, 1.0);
    }
    75% {
        transform: rotate(965deg);
        animation-timing-function: cubic-bezier(0, 0, 0.58, 1.0);
    }
    76% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}