<button class='btn btn-primary'>一般行为</button>
<button class='btn btn-info'>区分默认</button>
<button class='btn btn-success'>友好操作</button>
<button class='btn btn-warning'>警告提示</button>
<button class='btn btn-danger'>高危操作</button>
<button class='btn btn-primary disabled'>禁止操作</button>
<button class='btn btn-primary active'>点击状态</button>
<hr/>
<button class='btn btn-primary  btn-lg'>大按钮</button>
<button class='btn btn-primary  btn-sm'>小按钮</button>
<button class='btn btn-primary  btn-xs'>微小按钮</button>
<hr/>
<button class='btn btn-primary  btn-block'>拉伸至父元素宽度</button>
