.m-bookmark .navTitle li a{
    color:#767676;
    background: #fff;
}

.m-bookmark .navTitle li a:hover, .m-bookmark .navTitle li a:focus{
    border-right: 1px solid #07712c;
    color:#07712c;
    background: #f7f7f7;
}
.m-bookmark .navUrl li{
    width:200px;
    overflow: hidden;
   display: inline-block;
}