<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>各种书签集锦</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="./index.css" rel="stylesheet">
</head>
<body>
<header>
    <div class="container">
        <nav class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="../index.html">TUNTUN</a>
                </li>
                <li>
                    <a href="../recruit/index.html">A Recruit</a>
                </li>
                <li>
                    <a href="../components/index.html">Components</a>
                </li>
                <li>
                    <a href="../2048/index.html">2048</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<main class="tt-banner">
    <div class="container">
        <span class="tt-icon tt-lg pull-left">Bookmark</span>
    </div>
</main>
<div class="container tt-content m-bookmark" style="display: none" id="bookmark" v-show="!loading">
    <div class="row">
        <div class="col-sm-2">
            <ul class="nav navTitle">
                <li v-for="anchor in anchors">
                    <a class="btn" :class="{'selected':anchor.selected}" href="#{{anchor.title}}"
                       v-on:click="select(anchor)">{{anchor.title}}</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-10  m-navUrl">
            <template v-if="isNest" v-for="bookmark in bookmarks">
                <ul v-if="currentAnchor==bookmark.father" class="nav">
                    <li v-for="child in bookmark.children" class="col-sm-3 u-urlBox">
                        <a :href="child.url" title="{{child.name}}">
                            <img src="{{child.icon}}"/>
                            <div class="name text-left">{{child.name}}</div>
                        </a>
                    </li>
                </ul>
            </template>
            <ul v-else class="nav">
                <template v-for="bookmark in bookmarks">
                    <template v-if="showType=='flow'">
                        <li v-if="bookmark.father" class="col-sm-3 u-urlBox">
                            <a :href="bookmark.url" title="{{bookmark.name}}" name="{{bookmark.father}}">
                                <img src="{{bookmark.icon}}"/>
                                <div class="name text-left">{{bookmark.name}}</div>
                            </a>
                        </li>
                        <li v-else>
                            <h3 class="title col-sm-12 text-center">{{bookmark.name}}</h3>
                        </li>
                    </template>
                    <template v-else>
                        <li v-if="currentAnchor==bookmark.father" class="col-sm-3 u-urlBox">
                            <a :href="bookmark.url" title="{{bookmark.name}}">
                                <img src="{{bookmark.icon}}"/>
                                <div class="name text-left">{{bookmark.name}}</div>
                            </a>
                        </li>
                    </template>
                </template>
            </ul>
        </div>
    </div>
</div>
<div v-show="loading" class="text-center">
    <div class="u-loading">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</div>
<script src="//cdn.bootcss.com/require.js/2.2.0/require.js" data-main="index"></script>
</body>
</html>