.m-bookmark .navTitle li a {
    color: #767676;
    background: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
}
.m-bookmark .navTitle li a.selected,.m-bookmark .navTitle li a:hover, .m-bookmark .navTitle li a:focus {
    border-right: 1px solid #07712c;
    color: #07712c;
    background: #f7f7f7;
}
.m-bookmark .m-navUrl{
    min-height:1200px;
}
.u-urlBox {
    height: 160px;
    text-align: center;
}

.u-urlBox a {
    margin: 10px;
    padding: 5px;
    word-wrap: break-word;
    text-overflow: ellipsis;
    box-shadow: 0 0 18px 5px #c6e6c6;
}


.u-urlBox .name {
    max-height: 80px;
    margin-top: 10px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #8dca8d;
    font-weight: bold;
    font-family: cursive;
}
.u-urlBox .name:first-letter {
    margin:5px 0 0 5px;
    font-family: Georgia;
    font-size: 36px;
    line-height: 40px;
}

.u-urlBox img {
}
.m-navUrl .title {
    font-weight: bold;
    font-family: cursive;
}