<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>组件库</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./css/module.css"/>
    <link rel="stylesheet" type="text/css" href="./css/index.css"/>
    <link rel="stylesheet" href="./lib/solarized_dark.min.css">
    <!--代码高亮-->
</head>
<body>
<header>
    <div class="tt-menu" r-class="{{'navbar-static-top':isTop,'navbar-fixed-top':!isTop}}">
        <div class="container">
            <div class="navbar-header logo">
                <a href="/htm/index.html" class="navbar-brand">TT-C</a>
            </div>
            <nav>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../index.html">TUNTUN</a>
                    </li>
                    <li>
                        <a href="../recruit/index.html">A Recruit</a>
                    </li>
                    <li class="active">
                        <a href="../components/index.html">Components</a>
                    </li>
                    <li>
                        <a href="../2048/index.html">2048</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<div class="container">
    <div id="app"></div>
</div>
<script src="//cdn.bootcss.com/require.js/2.2.0/require.js" data-main="index"></script>
<script src="./lib/highlight.min.js"></script>
</body>
</html>