<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>ms样式代码</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./css/module.css"/>
    <link rel="stylesheet" type="text/css" href="./css/index.css"/>
    <link rel="stylesheet" href="./lib/solarized_dark.min.css">
    <!--代码高亮-->
</head>
<body>
<div class="container">
    <div id="app"></div>
</div>
<script src="//cdn.bootcss.com/require.js/2.2.0/require.js" data-main="index"></script>
<script src="./lib/highlight.min.js"></script>
</body>
</html>